.forecast {
    background: linear-gradient(#5936B4, #362A84);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    overflow: scroll;

    &-header {
        color: white;
    }

    .weather-search {
        padding-bottom: 40px;

        &--input {
            color: white;
            backdrop-filter: blur(10px);
            width: 250px;
            height: 20px;
            border-radius: 5px;
            border-width: thin;
            background: linear-gradient(168deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            
        }
    }
}

.weather-cards {
    display: flex;
    align-items: center;
    height: 200px;
    flex-direction: column;
    

    .weather-card {
        width: 342px;
        height: 184px;

        .card-icon {
            position: relative;
            bottom: 210px;
            left: 200px;
        }

        .card-temp {
            position: relative;
            bottom: 280px;
            left: 20px;

            font-family: SF Pro Display;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 41px; /* 64.063% */
            letter-spacing: 0.374px;
        }

        .card-high-low {
            position: relative;
            right: 120px;
            bottom: 70px;
        }

        .card-bottom {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            bottom: 245px;

            &--name {
                color: var(--label-color-dark-primary, #FFF);
                font-family: SF Pro Text;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.408px;
            }

            &--description {
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                font-family: SF Pro Text;
                text-align: right;
                line-height: 18px;
                letter-spacing: -0.078px;
            }

        }
    }
}